@import "tailwindcss";

/* ── COULEURS FORTUNASHOP ── */
@theme {
  --color-fs-orange: #E8621A;
  --color-fs-orange-light: #FF7A35;
  --color-fs-orange-pale: #FFF0E6;
  --color-fs-orange-deep: #C04E10;
  --color-fs-cream: #FAF7F2;
  --color-fs-cream2: #F3EDE3;
  --color-fs-ink: #1A1208;
  --color-fs-gray: #7C6C58;
  --color-fs-gray2: #A89880;
  --color-fs-border: #DDD0B8;
  --color-fs-green: #2A7A50;
  --color-fs-green-bg: #E6F5EE;

  --font-nunito: 'Nunito', sans-serif;
  --font-dm: 'DM Sans', sans-serif;
}